.partInfo {
    height: 100%;
}

.headerInfo {
    background-color: #21201D;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.headerInfo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 2px;
    background-color: #739552;
    transition: transform 0.3s ease;
}

.headerInfo[data-active="0"]::after {
    transform: translateX(0%);
}

.headerInfo[data-active="1"]::after {
    transform: translateX(100%);
}

.headerInfo[data-active="2"]::after {
    transform: translateX(200%);
}

.headerInfo[data-active="3"]::after {
    transform: translateX(300%);
}

.itemHeader {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #90908E;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    width: 100%;
    height: 70px;
    justify-content: center;
    transition: color 0.2s ease;
}

.itemHeader:hover {
    color: #ffffff;
}

.itemHeader.active {
    color: #ffffff;
}

.content {
    background-color: #262522;
    height: calc(100% - 70px);
    border-radius: 0 0 20px 20px;
}
